<h1>WELCOME TO SHOPPING CART</h1>

<ul>
    {{#each val}}
        <li>
            <p>Product Name: {{this.title}}</p>
            <p>Product Price: {{this.price}}</p>
            <span>Quantity:</span><input type="text" id="{{this.title}}"/>
            <button onclick="calculate({{this.price}},{{this.title}});">Submit</button>
            <p id="{{this.title}}_show"></p>
            <br/>
        </li>
    {{/each}}
</ul>
<script>
    function calculate(price, obj)                    
    {
        var qty = document.getElementById(obj.id);
        var output = document.getElementById(obj.id+"_show");
        var total = price * qty;
        output.innerHTML = total;
    }
</script>
